// Imports //

@import '@/assets/scss/fonts.scss';

// Colour Variables //

$black: #000000 !default;

$white: #fff !default;

$dark-grey: #43425d !default;
$light-grey: #eeeeee !default;
$active-grey: #e7e7e7 !default;

$light-green: #80ba02 !default;

$navy-blue: #130b6a !default;

$orange: #f17504 !default;

$premium: #bf6342 !default;

$gold: #cab354 !default;

$silver: #bcbcbc !default;

$red: #ff3846 !default;

// Font Size Variables //

$font-10: 0.6rem;
$font-12: 0.8rem;
$font-14: 0.9rem;
$font-16: 1.06rem;
$font-18: 1.2rem;
$font-20: 1.33rem;
$font-22: 1.4rem;
$font-24: 1.6rem;
$font-26: 1.7rem;
$font-28: 1.8rem;
$font-30: 2rem;
$font-32: 2.2rem;
$font-34: 2.4rem;
$font-36: 2.6rem;
$font-38: 2.8rem;
$font-40: 3rem;
$font-42: 3.2rem;
$font-44: 3.4rem;
$font-46: 3.9rem;
$font-80: 5rem;
$font-120: 7.5rem;

// Font Family Variables //

$montserrat-regular: 'Montserrat Regular';
$montserrat-bold: 'Montserrat Bold';
$montserrat-semi-bold: 'Montserrat SemiBold';
$open-sans-regular: 'OpenSans Regular';
$open-sans-bold: 'OpenSans Bold';
$open-sans-semi-bold: 'OpenSans SemiBold';
$futur: 'futur';

